.page {
    background: url(../assets/images/yvette-de-wit-NYrVisodQ2M-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.keys {
    display: flex;
    width: 75%;
    height: 99vh;
    color: rgb(78, 78, 78);
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.key {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
    background: #ECEFCF;
    width: 5%;
    transition: all 0.02s;
    
    kbd {
        font-size: 1.5rem;
    }

    .sound {
        font-size: 1rem;
    }
}

.playing {
    transform: scale(1.2);
    -webkit-box-shadow: #FFF 0 -1px 4px, red 0 -18px 40px, #ff8000 0 -10px 20px, #ff0 0 -2px 10px, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, red 0 -18px 40px, #ff8000 0 -10px 20px, #ff0 0 -2px 10px, 5px 5px 15px 5px rgba(0,0,0,0);
    background: #ECEFCF;
}
